<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:timetable="http://com.sabonay.timetable/timetable">
    <h:head>
        <title>Timetable Home</title>
    </h:head>
    <h:body>
        <h:form id="myForm">
            <pe:ajaxErrorHandler />
            <p:growl id="growls" sticky="true" showDetail="true"/>
            <p:wizard flowListener="#{timetableWizard.onFlowProcess}" style="font-size: small">
                <p:tab id="about" title="Step 1">
                    <p:panel header="About Timetable">
                        <p>Welcome,this is the timetable wizard <br/>It helps you create the timetable </p>
                        <p>You will enter the necessary information for your<br/> timetable in the following steps </p>
                        <p>If you fill all data for the current step,press Next </p>
                        <p>In case you need to correct or add already entered<br/>data,press Back to move to the previous step </p>
                    </p:panel>
                </p:tab>     

                <p:tab id="basicDetails" title="Step 2">
                    <p:panel header="Basic Details">
                        <div style="float: right; padding-right: 600px; font-weight: bolder; font-size: larger">
                            GENERATING TIMETABLE FOR #{timetableWizard.currentTerm}
                        </div>
                        <br style="clear: both" />
                        <br style="clear: both" />
                        <div style="width: 100%">
                            <div style="width: 48%; float: left">
                                <p:fieldset>
                                    <h:panelGrid columns="3" columnClasses="label, value">
                                        <h:outputText value="Periods per day: " /> 
                                        <p:selectOneMenu value="#{timetableWizard.count}" >
                                            <f:selectItem itemLabel="--select one--" />
                                            <f:selectItems value="#{timetableWizard.periodsCount}" var="p" itemLabel="#{p}" itemValue="#{p}" />
                                        </p:selectOneMenu>
                                        <p:commandButton value="Bell Times" action="#{timetableWizard.anotherPeriodsDialog}" update="@form" styleClass="ui-priority-primary"/>
                                    </h:panelGrid>
                                </p:fieldset> 
                            </div>
                            <div style="width: 49%; float: right">
                                <p:fieldset>
                                    <h:panelGrid columns="2" cellpadding="5" cellspacing="5">
                                        <p:outputLabel value="Days Selection" />
                                        <p:selectManyCheckbox value="#{timetableWizard.selectedDays}" columns="2" layout="grid">
                                            <f:selectItems value="#{timetableWizard.daysSelection}"/>
                                        </p:selectManyCheckbox>
                                    </h:panelGrid>
                                </p:fieldset>
                            </div>
                        </div>
                        <br style="clear: both"/>
                        <p:outputPanel id="periodPanel">
                            <p:dialog widgetVar="period" id="pt" showEffect="clip" hideEffect="explode" modal="true" closeOnEscape="true" height="600" width="600" visible="#{timetableWizard.periodShow}">
                                <p:growl id="msgs" showDetail="true"/>

                                <p:dataTable id="periodss" value="#{timetableWizard.periods}" var="item" editable="true" style="margin-bottom:20px">
                                    <f:facet name="header">
                                        Row Editing
                                    </f:facet>

                                    <p:ajax event="rowEdit" listener="#{timetableWizard.onRowEdit}" update="@this" />
                                    <p:ajax event="rowEditCancel" listener="#{timetableWizard.onRowCancel}" update="@this" />

                                    <p:column headerText="Period Name">
                                        #{item.periodName}
                                    </p:column>
                                    <p:column headerText="Start Time">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{item.startTime}">
                                                    <f:convertDateTime pattern="HH:mm" />
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input">
                                                <pe:timePicker value="#{item.startTime}" mode="spinner" widgetVar="spinnerBtnTimeWidget" showOn="button" label="Spinner time picker with button"/>  
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="End Time">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{item.endTime}">
                                                    <f:convertDateTime pattern="HH:mm" />
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input">
                                                <pe:timePicker value="#{item.endTime}" mode="spinner" widgetVar="spinnerBtnTimeWidget" showOn="button" label="Spinner time picker with button"/>  
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Break Options">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                Is break?: #{item.periodBreak}
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:selectBooleanCheckbox value="#{item.periodBreak}" itemLabel="Is Break?"  />
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                    <f:facet name="footer">
                                        <p:commandButton value="Save" action="#{timetableWizard.savePeriod}" ajax="false"/>
                                    </f:facet>
                                </p:dataTable>
                            </p:dialog>
                        </p:outputPanel>
                    </p:panel>
                </p:tab>
                <p:tab id="teacherDetails" title="Step 3">
                    <p:panel header="Enter Lessons">
                        <p:growl id="msgsw" showDetail="true"/>

                        <h:panelGrid id="classEditing" columns="3" columnClasses="grid,grid,grid">
                            <p:outputLabel value="Class: " />
                            <p:selectOneMenu filter="true" filterMatchMode="startsWith" value="#{timetableWizard.classSelectionName}" styleClass="outputLabel">
                                <f:selectItem itemLabel="--select one--" />
                                <f:selectItems value="#{timetableWizard.classSelection}" />
                            </p:selectOneMenu>
                            <p:commandButton value="Edit Class Lessons" action="#{timetableWizard.editLessonsByClass}" ajax="false" update="@form"/>
                        </h:panelGrid>
                        <br style="clear: both" />

                        <h:panelGroup id="editing">
                            <p:dataTable id="lessonsTeacher" value="#{timetableWizard.classListings}" var="item" editable="true" style="margin-bottom:20px" paginator="true" rows="20" rendered="#{timetableWizard.editShow}">
                                <f:facet name="header">
                                    Editing Lessons for: #{timetableWizard.classSelectionName}
                                </f:facet>

                                <p:ajax event="rowEdit" listener="#{timetableWizard.onRowEditSub}" update="@this" />
                                <p:ajax event="rowEditCancel" listener="#{timetableWizard.onRowCancelSub}" update="@this" />

                                <p:column headerText="Subject">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{item.schoolSubjectId}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{item.schoolSubjectId}" />
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Teacher">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            #{item.classTeacherId}
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{item.classTeacherId}"   />
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Lessons Per week">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            #{item.lessonsPerWeek}
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{item.lessonsPerWeek}"   />
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="width:32px">
                                    <p:rowEditor />
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </p:panel>
                </p:tab>
                <p:tab id="confirm" title="Final Step">
                    <p:panel header="Confirmation">
                        <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                            <p:outputLabel value="Class: " />
                            <p:selectOneMenu filter="true" filterMatchMode="startsWith" value="#{timetableWizard.className}" styleClass="outputLabel">
                                <f:selectItem itemLabel="--select one--" />
                                <f:selectItems value="#{timetableWizard.classSelection}" />
                            </p:selectOneMenu>
                            <p:commandButton value="Generate" action="#{timetableWizard.initialize}" ajax="false" update="@form"/>
                        </h:panelGrid>
                        <br style="clear: both" />
                        <h:panelGroup id="timelineView">
                            <p:growl id="growl" showSummary="true" showDetail="false" autoUpdate="true"/>

                            <pe:timeline id="timeline" value="#{timetableWizard.model}" var="teacherWrapper" varGroup="group" rendered="#{timetableWizard.displayModel}"
                                         editable="true" eventMargin="5" eventMarginAxis="0"
                                         groupsChangeable="true" groupsOnRight="false" stackEvents="false"
                                         showMajorLabels="false" axisOnTop="true"
                                         timeZone="America/New_York" widgetVar="timelineWdgt">
                                <p:ajax event="change" update="@none" listener="#{timetableWizard.onChange}"/>
                                <p:ajax event="delete" update="@none" listener="#{timetableWizard.onDelete}"/>
                                <p:ajax event="add" update="@none" onstart="PF('timelineWdgt').cancelAdd()"/>

                                <f:facet name="group">
                                    <h:outputText value="#{group.day}" style="font-weight:bold;"/>
                                </f:facet>

                                <h:outputText value="#{teacherWrapper.subject}"/>

                            </pe:timeline>

                            <p:dialog id="overlapEventsDlg" header="Overlapped Teachers Subject" widgetVar="overlapEventsWdgt"
                                      showEffect="clip" hideEffect="clip">
                                <h:panelGroup id="overlappedOrdersInner" layout="block" style="padding:10px;">
                                    <p:selectManyMenu id="overlappedOrders" value="#{timetableWizard.ordersToMerge}"
                                                      showCheckbox="true">
                                        <f:selectItems value="#{timetableWizard.overlappedOrders}" var="teacher"
                                                       itemLabel=" Teacher: #{order.data.teacher}" itemValue="#{teacher}"/>
                                        <timetable:convertClassTeacherSubject events="#{timetableWizard.model.events}"/>
                                    </p:selectManyMenu>
                                </h:panelGroup>

                                <f:facet name="footer">
                                    <h:panelGroup layout="block" style="text-align:right; padding:2px; white-space:nowrap;">
                                        <p:commandButton value="Merge" process="overlapEventsDlg" update="@none"
                                                         action="#{timetableWizard.merge}"
                                                         oncomplete="PF('overlapEventsWdgt').hide()"/>
                                        <p:commandButton type="button" value="Close" onclick="PF('overlapEventsWdgt').hide()"/>
                                    </h:panelGroup>
                                </f:facet>
                            </p:dialog>
                        </h:panelGroup>
                    </p:panel>
                </p:tab>
            </p:wizard>

        </h:form>
    </h:body>
</html>

